@font-face {
    font-family: 'SegmentLED';
            src: url(digital-clock-font/14\ Segment\ LED\ Regular.ttf,)
                url(digital-clock-font/14\ Segment\ LED\ Pic.jpg );
    }
@font-face {
    font-family: 'DS';
            src: url(digital-clock-font/DS-DIGI.TTF),
                 url(digital-clock-font/DS-DIGIB.TTF),
                 url(digital-clock-font/DS-DIGII.TTF),
                 url(digital-clock-font/DS-DIGIT.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* border: 2px solid blue; */
    width: 20vw;
    margin: auto;
    margin-top: 70px;
    padding: 10px 2px;
    border-radius: 5px 40px;
    background-color: black;
    box-shadow: 3px 3px 15px blue; 
}

.sign{
    /* border: 2px solid brown; */
    display: flex;
    margin: 10px 0;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.sign h3{
    color: aqua;
}

.sign .zero{
    /* padding: 10px ; */
    width: 90px;
}
.sign div {
    color:aqua;
    /* background-color: red; */
    width: 35px;
    padding: 5px;
    /* height: 30px; */
    border-radius: 25%;
    text-align: center;
    cursor: pointer;
    border: 2px solid rebeccapurple;
    box-shadow: 3px 3px 10px blue;
    /* transition: 10s; */
}
.sign div:hover {
    transition: 1s;
    transform: scale(1.01);
    /* background-color: red; */
}

#dispDate {
    /* text-align: end; */
    font-family: 'DS';
    color: aqua;
}
#disp {
    padding: 10px;
    border-radius: 0 20px;
    color: aqua;
}