@font-face {
    font-family: 'SegmentLED';
            src: url(digital-clock-font/14\ Segment\ LED\ Regular.ttf,)
                url(digital-clock-font/14\ Segment\ LED\ Pic.jpg );
    }
@font-face {
    font-family: 'DS';
            src: url(digital-clock-font/DS-DIGI.TTF),
                 url(digital-clock-font/DS-DIGIB.TTF),
                 url(digital-clock-font/DS-DIGII.TTF),
                 url(digital-clock-font/DS-DIGIT.TTF);
}

    body{
        font-family: 'SegmentLED','DS';
        font-size: 24px;
    }

    main{
        margin: auto;
        /* background-color: #4203fd; */
        /* width: 20%; */
    }

    table{
        border: 5px solid #fff;
        border-radius: 40px;
        background-color: #fff;
        margin: 20px auto;
        padding: 2%;
        box-shadow: 2px 20px 40px 10px #acacac;
    }
    #dispDate{
        padding: 0;
        margin: 0;
    }
    .sign{
        color: green;
        font-size: 16px;
        box-shadow: 2px 20px 40px #acacac;

    }

    button{
        font-family: 'SegmentLED','DS';
        font-size: 24px;
        padding: 20px;
        border-radius: 40%;
        border: none;
        background-color: #f0f8ff;
        box-shadow: 2px 20px 40px #acacac;
        color: green;
    }

    td input{
        font-family: 'SegmentLED','DS';
        font-size: 24px;
        font-weight: 800;
        color: #008000;
        width: 80%;
        margin: auto;
        padding: 8%;
        border: none;
        outline: none;
        border-radius: 30px;
        box-shadow: 2px 20px 40px #acacac;

    }
    td .zero{
        width: 70%;
        border-radius: 45%;
        background-color: #fcfcc4;
    }
    td h3{
        color: green;
        text-shadow: 2px 20px 40px #acacac;
    }
    td .slash{
        padding: 22px;
    }
    .del,.clear,.equal{
        background-color: #008000;
        color: #fff;
    }
